{% extends "base.html" %}

{% block title %}About – BestBuy{% endblock %}

{% block content %}
  <h2>About</h2>

  <p>Website created by Zach Preston and Eric Woodard.</p>
  
  <ul>
    <li>Site hosting: PythonAnywhere</li>
    <li>Database: SQLite</li>
    <li>Backend created with Django</li>
    <li>Frontend created with Bootstrap</li>
    <li>Example data created with Mockaroo</li>
    <li>Example images imported with Lorem Picsum</li>
  </ul>

  <div class="row">
    <div class="col align-self-center">
      <img src="https://media-exp1.licdn.com/dms/image/C561BAQHDnw3jPc3HsA/company-background_10000/0/1588183933791?e=2147483647&v=beta&t=So9lA-OmhIOXeyEC39dk4fb1Tq4co8Og_j5TFK4b3dg" alt="PythonAnywhere">
    </div>
    <div class="col align-self-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/SQLite370.svg" alt="SQLite">
    </div>
    <div class="col align-self-center">
      <img src="https://twilio-cms-prod.s3.amazonaws.com/images/django-dark.width-808.png" alt="Django">
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center">
      <img src="https://s1.o7planning.com/en/11695/images/21379762.png" alt="Bootstrap">
    </div>
    <div class="col align-self-center">
      <img src="https://assets-global.website-files.com/6009f6f109d51e60b911ba53/606e2c19fbba751849f85f40_mockaroo-logo.png" alt="Mockaroo">
    </div>
    <div class="col align-self-center">
      <img src="https://www.programmableweb.com/sites/default/files/Lorem%20Picsum.png" alt="Lorem Picsum">
    </div>
  </div>
{% endblock %}
