<!-- CSS -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>{% block title %}BestBuy{% endblock %}</title>
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarColor02">
        <a class="navbar-brand">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Best_Buy_Logo.svg" width="50" height="35" alt="BestBuy">
        </a>

        <!-- Main pages -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item {% if nbar == 'products' %}active{% endif %}">
            <a class="nav-link" href="/products/">Products</a>
          </li>
          <li class="nav-item {% if nbar == 'services' %}active{% endif %}">
            <a class="nav-link" href="/services/">Services</a>
          </li>
          <li class="nav-item {% if nbar == 'vendors' %}active{% endif %}">
            <a class="nav-link" href="/vendors/">Vendors</a>
          </li>
        </ul>

        <!-- User-specific pages -->
        {% block login %}
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-text">
                {{user.username}}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
            </ul>
          {% endif %}
        {% endblock %}
      </div>
    </nav>

    <!-- Template for body of page -->
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
