{% extends "base.html" %}

{% block title %}Cart – BestBuy{% endblock %}

{% block content %}
  <h2>{{ user.username }}'s Cart</h2>

  <ul>
    <!-- Table header -->
    <div class="row">
      <div class="col">
            <label class="col">Item</label>
      </div>
      <div class="col">
            <label class="col">Price</label>
      </div>
      <div class="col">
            <label class="col">Quantity</label>
      </div>
      <div class="col">
            <label class="col">Remove Item</label>
      </div>
    </div>

    <!-- Divider -->
    <hr>

    <!-- Item list -->
    {% for item in cart %}
      <form action="" method="POST">
        {% csrf_token %}

        <!-- Details and remove button -->
        <div class="row">
          <div class="col">
            {% if item.product != None %}
              <label class="col">{{item.product.name}}</label>
            {% endif %}
            {% if item.service != None %}
              <label class="col">{{item.service.name}}</label>
            {% endif %}
          </div>
          <div class="col">
            {% if item.product != None %}
              <label class="col">${{item.product.price}}</label>
            {% endif %}
            {% if item.service != None %}
              <label class="col">${{item.service.price}}</label>
            {% endif %}
          </div>
          <div class="col">
            <input type="number" class="form-control" name="quantity" id="quantity" min="0" max="99" value="{{item.quantity}}">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-sm btn-danger btn-block">Remove</button>
          </div>
        </div>

        <div class="form-row">
          {% if item.product != None %}
            <input type="hidden" name="product" id="product" value="{{ item.product.id }}">
          {% endif %}
          {% if item.service != None %}
            <input type="hidden" name="service" id="service" value="{{ item.service.id }}">
          {% endif %}
        </div>
      </form>

      {% empty %}
        <li>cart is empty</li>
    {% endfor %}
  </ul>

  <!-- Total price and purchase button -->
  {% if cart %}
    <label><b>Total price: ${{total}}</b></label>

    <a href="{% url 'purchase' %}" class="btn btn-success btn-block">
      <span class="glyphicon glyphicon-th-list"></span> Purchase Cart
    </a>
  {% else %}
    <button type="button" class="btn btn-secondary btn-block" disabled>Purchase Cart</button>  
  {% endif %}
{% endblock %}
