{% extends "base.html" %}

{% block title %}Product Item – BestBuy{% endblock %}

{% block content %}
  <h2>{{ product.name }}</h2>

  <!-- Item details -->
  <div class="container">
    <!-- Values -->
    <div class="row">
      <div class="col-sm">
        Vendor: {{ product.vendor.name }}
      </div>
      <div class="col-sm">
        Brand: {{ product.brand }}
      </div>
      <div class="col-sm">
        Type: {{ product.type }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Screen Size: {{ product.size }}"
      </div>
      <div class="col-sm">
        Price: ${{ product.price }}
      </div>
      <div class="col-sm">
        Shipping: ${{ product.shipping }}
      </div>
    </div>

    <br>

    <!-- Description -->
    <p id="text-box">{{ product.description }}</p>
    
    <!-- Back button -->
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
  </div>
{% endblock %}
