{% extends "base.html" %}

{% block content %}
  <h2>{{ product.name }}</h2>

  <!-- Item details -->
  <div class="container">
    <!-- Values -->
    <div class="row">
      <div class="col-sm">
          Type: {{ product.type }}
      </div>
      <div class="col-sm">
        Brand: {{ product.brand }}
      </div>
      <div class="col-sm">
        Screen Size: {{ product.size }}"
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        Price: ${{ product.price }}
      </div>
      <div class="col-sm-4">
        Shipping: ${{ product.shipping }}
      </div>
    </div>
    <br>

    <!-- Description -->
    <p style="padding: 10px; border: 4px solid blue;"><font size="5">{{ product.description }}</font></p>
    
    <!-- Back button -->
    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
  </div>
{% endblock %}
