{% extends "base.html" %}

{% block title %}Products – BestBuy{% endblock %}

{% block content %}
  <h2>Products</h2>

  <!-- Search filters and name -->
  <form action="" method="POST">
    {% csrf_token %}

    <!-- Filters -->
    <div class="form-row">
      <!-- Type filter -->
      <div class="col form-group">
        <label class="form-label" for="type">Type</label>
        <select id="type" Name="type" class="form-control">
          <option selected></option>
          {% for type in types %}
            <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Brand filter -->
      <div class="col form-group">
        <label class="form-label" for="brand">Brand</label>
        <select id="brand" Name="brand" class="form-control">
          <option selected></option>
          {% for brand in brands %}
            <option value="{{ brand }}">{{ brand }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Vendor filter -->
      <div class="col form-group">
        <label class="form-label" for="vendor">Vendor</label>
        <select id="vendor" Name="vendor" class="form-control">
          <option selected></option>
          {% for vendor in vendors %}
            <option value="{{ vendor }}">{{ vendor }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Screen size filter -->
      <div class="col form-group">
        <label class="form-label" for="size">Screen size (inches)</label>
        <select id="size" Name="size" class="form-control">
          <option selected></option>
          {% for size in sizes %}
            <option value="{{ size }}">{{ size }}"</option>
          {% endfor %}
        </select>
      </div>

      <!-- Min price filter -->
      <div class="col form-outline">
        <label class="form-label" for="min_price">Minimum price</label>
        <input type="number" min="{{ min_price }}" max="{{ max_price }}" id="min_price" name="min_price" class="form-control" />
      </div>

      <!-- Max price filter -->
      <div class="col form-outline">
        <label class="form-label" for="max_price">Maximum price</label>
        <input type="number" min="{{ min_price }}" max="{{ max_price }}" id="max_price" name="max_price" class="form-control" />
      </div>
    </div>

    <!-- Search bar -->
    <input type="text" name="name">
    <input type="submit" name="submit" value="Search">
  </form>

  <!-- Products list -->
  <div class="row">
    {% for product in products %}
      <!-- Individual product -->
      <div class="col" id="product">
        <form action="add_to_cart" method="POST" value="{{ request.path }}">
          {% csrf_token %}

          <!-- Product details (and "add to cart" button) -->
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Vendor: {{ product.vendor.name }}</p>
            <p class="card-text">Type: {{ product.type }}</p>
            <p class="card-text">Brand: {{ product.brand }}</p>
            <p class="card-text">Price: ${{ product.price }}</p>
            <a href="{% url 'products' %}{{ product.id }}" class="card-link">View Item</a>
            <div class="form-row">
              <input type="hidden" name="product" id="product" value="{{ product.id }}">
            </div>

            {% if user.is_authenticated %}
              <br>
              <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
            {% endif %}
          </div>
        </form>
      </div>

      <!-- No products in database -->
      {% empty %}
        <div class="col" id="product">
          <p>No products yet</p>
        </div>
    {% endfor %}
  </div>
{% endblock %}
